# App URL
VITE_APP_URL=https://peekaview.de/

# API endpoint URL
VITE_API_URL=https://api.peekaview.de/

# CSP Connect-Src header - provide backend domains where your livekit server is hosted
VITE_CONNECT_SRC=https://*.peekaview.de wss://*.peekaview.de wss://c1.peekaview.de

# Control server
VITE_RTC_CONTROL_SERVER=wss://c1.peekaview.de/

# ICE server configuration to be used by simplepeer
VITE_RTC_ICE_SERVER={ "urls": ["turns:t1.peekaview.de:443", "turn:t1.peekaview.de:3478"] }
