#room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#room-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
  margin-bottom: 20px;
}

#room-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}

#layout-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

.video-container {
  position: relative;
  background: #3b3b3b;
  aspect-ratio: 16/9;
  border-radius: 6px;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: 100%;
}

.video-container .participant-data {
  position: absolute;
  top: 0;
  left: 0;
}

.participant-data p {
  background: #f8f8f8;
  margin: 0;
  padding: 0 5px;
  color: #777777;
  font-weight: bold;
  border-bottom-right-radius: 4px;
}

#room-content {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px); /* Adjust based on your header and footer heights */
}

#thumbnail-bar {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 10px;
}

#layout-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.thumbnail {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.thumbnail.focused {
  border-color: blue;
}

.thumbnail video {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.thumbnail .participant-name {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  background-color: #f8f8f8;
  border-top: 1px solid #e0e0e0;
}

@media screen and (max-width: 768px) {
  #layout-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}