{
    # Global options block
    log {
        output stdout
        level INFO
    }
    storage file_system {
        root /data
    }
}

api.peekaview.com, v1.peekaview.com {
    tls {
        automate api.peekaview.com v1.peekaview.com
    }
}

:443 {
    # TURN-Server
/*    @turn_server {
        tls {
            sni {env.TURN_SERVER_DOMAIN}
        }
    }
    handle @turn_server {
        reverse_proxy localhost:5349
    }

    # LiveKit-WebSocket (Backend)
    @livekit_backend {
        tls {
            sni {env.LIVEKIT_SERVER_DOMAIN}
        }
    }
    handle @livekit_backend {
        reverse_proxy localhost:7880
    }

    # App-WebApp (STATIC)
    @peekaview_static {
        tls {
            sni {env.PEEKAVIEW_DOMAIN}
        }
    }
    handle @peekaview_static {
        reverse_proxy localhost:8082
    }
*/
    # App-API (PHP-API)
    @api_server {
        tls {
            sni {env.API_DOMAIN}
        }
    }
    handle @api_server {
        reverse_proxy localhost:8080
    }
}
